<nav class="navbar">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-square-check  fa-2xl"></i>
      <span class="headcontent">TODO List</span>
   </a>
   <span>
    <ul>
    <li><a href=""><i class="fa-solid fa-house" style="color: #000000;"></i></a></li>
    <li><a href=""><i class="fa-solid fa-headset" style="color: #090a0b;"></i></a></li>
    <li><a href=""><i class="fa-solid fa-phone-volume" style="color: #19191a;"></i></a></li>
    </ul>
   </span>
  </div>
</nav>