.navbar{


position: sticky;
background-color: whitesmoke;
top: 0px;
z-index: 100;
}
.headcontent{
    font-family: 'Lobster', cursive;
   padding: 5px ;
    font-size: 27px;

    
}
ul{
    display: flex;
    padding: 10px;
    list-style: none;
}
ul li{
    padding:10px;
    font-size: 15px;
    
}
ul li:hover{
    border-bottom: 1px solid red ;
    font-size: 20px;
    
}
ul li a{
    text-decoration: none;
    color: black;
}
